name: QA Orchestrator Central
on:
  # 1. Recibe la se침al inteligente de la App
  repository_dispatch:
    types: [trigger-automation]

  # 2. Ejecuci칩n manual desde la UI
  workflow_dispatch:
    inputs:
      service:
        description: '쯈u칠 framework se ejecutar치?'
        required: true
        default: 'pw_ts_bdd'
        type: choice
        options: [pw_ts_bdd, pw_ts, pw_js_bdd, pw_js, all]
      env:
        description: 'Entorno de destino'
        required: true
        default: 'dev'
        type: choice
        options: [dev, staging, qa, prod]

jobs:
  routing:
    name: Route Execution
    runs-on: ubuntu-latest
    steps:
      - name: 游댌 Analyzing Trigger
        run: |
          echo "Trigger Source: ${{ github.event_name }}"
          echo "pw_ts_bdd Changed: ${{ github.event.client_payload.pw_ts_bdd_changed }}"
          echo "pw_ts Changed: ${{ github.event.client_payload.pw_ts_changed }}"
          echo "pw_js_bdd Changed: ${{ github.event.client_payload.pw_js_bdd_changed }}"
          echo "pw_js Changed: ${{ github.event.client_payload.pw_js_changed }}"
          echo "Manual Service Selection: ${{ inputs.service }}"

      # --- EJECUCI칍N DE PLAYWRIGHT TS BDD ---
      - name: 游 Triggering Playwright TS BDD
        # Se ejecuta si:
        # A) Es manual y se eligi칩 'pw_ts_bdd' o 'all'
        # B) Es autom치tico y detect칩 cambios en 'frontend'
        if: |
          contains(fromJSON('["pw_ts_bdd", "all"]'), inputs.service) || 
          github.event.client_payload.pw_ts_bdd_changed == 'true'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.ORCHESTRATOR_TOKEN }}
          repository: Luigi920103/pw_ts_bdd
          event-type: run-playwright-docker
          client_payload: '{"env": "${{ github.event.client_payload.env || inputs.env }}"}'

      # --- EJECUCI칍N DE PLAYWRIGHT TS ---
      - name: 游 Triggering Playwright TS
        # Se ejecuta si:
        # A) Es manual y se eligi칩 'pw_ts' o 'all'
        # B) Es autom치tico y detect칩 cambios en 'frontend'
        if: |
          contains(fromJSON('["pw_ts", "all"]'), inputs.service) || 
          github.event.client_payload.pw_ts_changed == 'true'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.ORCHESTRATOR_TOKEN }}
          repository: Luigi920103/pw_ts
          event-type: run-playwright-docker
          client_payload: '{"env": "${{ github.event.client_payload.env || inputs.env }}"}'

          token: ${{ secrets.ORCHESTRATOR_TOKEN }}
          repository: tu-usuario/repo-api-tests
          event-type: run-api-tests
          client_payload: '{"env": "${{ github.event.client_payload.env || inputs.env }}"}'
